<div id="siteNavStickyContainer" data-sticky-container style="position: absolute;left: 0;right: 0;width: 100%;">
    <div id="siteNavStickyWrap" class="sticky" data-sticky data-sticky-on="small" data-anchor="siteContainer" data-margin-top="0">
        <div class="top-black-bar text-right">
            CONTACT-US:+91 750 765 1099, +91 904 997 2789
        </div>
        <div id="siteNavToggler" class="title-bar" data-responsive-toggle="siteNav" data-hide-for="medium">
        </div>
        <div id="siteNav" class="top-bar">
            <div class="top-bar-title">
                <img src="{{root}}/assets/img/logo_gen.svg" alt="">
            </div>
            <div class="nav-container">
                <!--<ul class="dropdown menu" data-dropdown-menu>
                    <li>
                        <a href="#">who we Are</a>
                        <ul class="menu vertical">
                            <li><a href="#">One</a></li>
                            <li><a href="#">Two</a></li>
                            <li><a href="#">Three</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">what we do</a>
                        <ul class="menu vertical">
                            <li><a href="#">One</a></li>
                            <li><a href="#">Two</a></li>
                            <li><a href="#">Three</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">career</a>
                    </li>
                </ul>-->
                <div class="row  align-center">
                    <div class="column small-3"></div>
                    <div class="column">
                        <div class="menu-centered">
                            <ul class="dropdown menu header-dropdown" data-dropdown-menu>
                                <li>
                                    <a href="#" class="header-dropdown-title">Who We Are</a>
                                    <ul class="menu">
                                        <li><a href="#">Our Journey</a></li>
                                        <li><a href="#">Our Vision</a></li>
                                        <li><a href="#">Reach Us</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"  class="header-dropdown-title">What We Do</a>
                                    <ul class="menu">
                                        <li><a href="#">Mobile Apps Development</a></li>
                                        <li><a href="#">Offshore IT Setup</a></li>
                                        <li><a href="#">Software Application Development</a></li>
                                    </ul>
                                </li>
                                <li><a href="#"  class="header-dropdown-title">Career</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="column small-3"></div>
                </div>
               
            </div>
          <a href="#features" class="button">Request a Quote</a>
        </div>
    </div>
</div>
<!--<div class="row expanded">  


</div>-->