<div id="siteNavStickyContainer" data-sticky-container>
    <div id="siteNavStickyWrap" class="sticky" data-sticky data-sticky-on="small" data-anchor="siteContainer" data-margin-top="0">
        <div class="top-black-bar text-right">
            CONTACT-US:+91 750 765 1099, +91 904 997 2789
        </div>
        <div id="siteNavToggler" class="title-bar" data-responsive-toggle="siteNav" data-hide-for="medium">
        </div>
        <div id="siteNav" class="top-bar">
            <div class="top-bar-title">
                <img src="{{root}}/assets/img/logo_gen.svg" alt="">
            </div>
            <div class="nav-container">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li>
                        <a href="#">who we Are</a>
                        <ul class="menu vertical">
                            <li><a href="#">One</a></li>
                            <li><a href="#">Two</a></li>
                            <li><a href="#">Three</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">what we do</a>
                        <ul class="menu vertical">
                            <li><a href="#">One</a></li>
                            <li><a href="#">Two</a></li>
                            <li><a href="#">Three</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">career</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>